*{
  font-family: sans-serif;

}
body{
  background: url(../Imagenes/fondogris.jpg), #000;
  background-size: cover;/*para que se acomode a la pantalla*/
  background-repeat: no-repeat;
  background-attachment: fixed;/*esto es para que la imagen no se mueva*/

}
form input{
  background-color: #987a71;
  opacity: 0.8;/*para darle latransparencia*/
}
form{
  border: 2px solid #8e8b8c  ;
  background-color: #728093;
  opacity: 0.9;/*para darle latransparencia*/
  border-radius: 3%;
  padding: 2%;
}
.row{
margin: 6%;

}
#logo{
  margin: 0%;
  padding: 1%;
}
.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.footer{
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #343a40;
    color: #fff;

}
