*{/*esto lo que hace es implementar esto a todas las etiquetas*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;/*esto es para que se acome en google chrome*/


}
body{/*todo dentro del body*/
  /*background: #7a809d;*/
  background: url(../CSS/edihd2.jpg), #000;
  background-size: cover;/*para que se acomode a la pantalla*/
  background-repeat: no-repeat;
  background-attachment: fixed;/*esto es para que la imagen no se mueva*/
  max-width: 1200px;/*esto es para cuando hagan zoon no se vea pequeno el texto*/


}
header{/*todo esto es para que se ponga a lado del otro y lo mande para arriba*/
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;


}
header img{
  margin: 0% 2%;
}


header input{

  margin: 2% 3% 0% 95%;
  background-color: #987a71;
  opacity: 0.8;/*para darle latransparencia*/
  width: 180px;
  padding: 10px ;
  font-family: sans-serif;
  border: 2px solid #2a522d  ;
  border-radius: 10%;
  font-weight: bold;
}

form{/*todo lo que esta dentreo del formulario*/
  background-color: #728093;
  opacity: 0.9;/*para darle latransparencia*/
  width: 400px;
  padding: 30px ;
  margin:10% 50% auto;

  font-family: sans-serif;
  border: 2px solid #2a522d  ;
  border-radius: 10%;/*para darle corvetura al cuadrito del formulario*/

}
form input{
  display: block;
  padding: 8px;/*esto le da anchura a los input*/
  width: 100%;/*esto es lo que hace es que ocupe el 100% de espacio padre de anchura*/
  margin: 10px 0px 20px 0px;/*aqui lo que hago es darle espacios entre los labels y los input de arriba*/
  border: 1px solid #4e49ab;/*para darle un borde en este caso azul*/
  border-radius: 5px;/*para darle corvetura a los cuadritos de los input*/
  outline: none;
 font-weight: bold;
}
form input:hover{
  background: #9e8dc2;
  transition: 0.3s all linear;
/*  color: white;*/
}
form input[type="submit"]{
  width: 100px;
  margin: auto;
  font-weight: bold;
  background: #987a71

/*  background: #235031*/
}
input[type="submit"]:hover{
  background: #28382b;
  transition: 0.3s all linear;
}
form label{
  font-weight:bold;
}
