*{/*esto lo que hace es implementar esto a todas las etiquetas*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;/*esto es para que se acome en google chrome*/

}
body{
  font-family: sans-serif;
  background: url(../CSS/edihd2.jpg), #000;
  background-size: cover;/*para que se acomode a la pantalla*/
  background-repeat: no-repeat;
  background-attachment: fixed;/*esto es para que la imagen no se mueva*/
  max-width: 1200px;/*esto es para cuando hagan zoon no se vea pequeno el texto*/

}

div img{
  margin: 0% 2%;

}

form{
  border: 2px solid #2a522d;
  border-radius: 10%;
  margin: 0% 50% auto;
  width: 40%;
  padding: 20px;
  background-color: #728093;
  opacity: 0.9;/*para darle latransparencia*/



}
form input{
  display: block;
  padding: 8px;
  border-radius: 5px;
  width: 95%;
  margin:6px 0px 20px 0px;
  outline: none;
  font-weight: bold;
  border: 1px solid #4e49ab;/*para darle un borde en este caso azul*/
}
form input[type="submit"]{
  width: 100px;
  margin: auto;
  font-weight: bold;
  background: #987a71
}
input[type="submit"]:hover{
  background: #28382b;
  transition: 0.3s all linear;
}
form label{
  font-weight:bold;

}
















/*---------------------------------------------------------------------------------------*/
/*Esto es que no aparezca las flechas de incremento en el campo numeral*/
#cedula::-webkit-inner-spin-button, #cedula::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#cedula {
  -moz-appearance:textfield; }
/*--------------------------------------------------------------------------------------------*/
